---
import Layout from '@/layouts/Layout.astro'
import Latex from '@/components/Latex.astro'
import ObjetoAprendizajePantalla from '@/components/ObjetoAprendizajePantalla.astro'
import Hr from '@/components/Hr.astro'
import GeogebraLink from '@/components/GeogebraLink.astro'
import ImagenCaption from '@/components/ImagenCaption.astro'
import BgFluido from '@/components/BgFluido.astro'
import ImagenFullCaption from '@/components/ImagenFullCaption.astro'
---

<Layout title="Sistemas de coordenadas cartesianas o rectangulares">
	<ObjetoAprendizajePantalla index={2} pantallaIndex={0} asignatura={'matematicas_3'} />
	<div class="objeto-aprendizaje mx-auto animate-fade">
		<div class="mx-auto mb-5 max-w-screen-xl">
			<GeogebraLink
				texto="Con el uso de GeoGebra, puedes realizar la siguiente construcción:"
				titulo="El plano cartesiano."
				href="https://www.geogebra.org/classic?lang=es"
			/>

			<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
				<div class="w-full sm:w-1/2">
					<p>
						Aparece el plano cartesiano. El eje horizontal se llamará "x" y el eje vertical se
						llamará "y".
					</p>
					<p>
						Las coordenadas del punto son dos números que indican su ubicación en el plano. <strong
							class="text-red"
							>La coordenada “x” indica la distancia del punto al eje vertical y la coordenada “y”
							indica la distancia del punto al eje horizontal</strong
						>.
					</p>
				</div>
				<div class="w-full sm:w-1/2">
					<ImagenCaption
						src="/matematicas3/sistemas-coordenados/img-01.jpg"
						caption="Plano cartesiano"
						border={true}
					/>
				</div>
			</div>
			<p>
				Pasos para introducir las coordenadas de un punto, ejemplo <Latex
					formula="(3, 4)"
					inline={true}
				/> hay dos formas:
			</p>
		</div>
		<BgFluido bg="bg-lightblue">
			<h4>Forma 1</h4>
		</BgFluido>
		<div class="mx-auto mb-5 max-w-screen-xl">
			<ol class="ol-number">
				<li>
					<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
						<div class="w-full sm:w-1/2">
							<p>
								Elige el segundo icono (flecha verde), posteriormente da clic en punto (flecha
								amarilla)
							</p>
						</div>
						<div class="w-full sm:w-1/2">
							<ImagenCaption
								src="/matematicas3/sistemas-coordenados/img-02.jpg"
								caption="GeoGebra coordenadas de un punto "
								border={true}
							/>
						</div>
					</div>
				</li>
				<li>
					<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
						<div class="w-full sm:w-1/2">
							<p>
								Arrastrar el punto al lugar correspondiente, sus coordenadas apareceran <strong
									>Entrada</strong
								>
							</p>
						</div>
						<div class="w-full sm:w-1/2">
							<ImagenCaption
								src="/matematicas3/sistemas-coordenados/img-03.jpg"
								caption="GeoGebra Entrada con un punto"
								border={true}
							/>
						</div>
					</div>
				</li>
			</ol>
		</div>
		<BgFluido bg="bg-lightblue">
			<h4>Forma 2</h4>
		</BgFluido>
		<div class="mx-auto mb-5 max-w-screen-xl">
			<ol class="ol-number">
				<li>
					<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
						<div class="w-full sm:w-1/2">
							<p>
								Otra forma de obtener un punto es escribiendo en entrada la coordenada, ejemplo <Latex
									formula="A = (3,4)"
									inline={true}
								/>
							</p>
						</div>
						<div class="w-full sm:w-1/2">
							<ImagenCaption
								src="/matematicas3/sistemas-coordenados/img-04.jpg"
								caption="GeoGebra Entrada con un punto "
								border={true}
							/>
						</div>
					</div>
				</li>
				<li>
					<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
						<div class="w-full sm:w-1/2">
							<p>
								Introducir varios puntos. Puedes introducir varios puntos de la misma manera. Por
								ejemplo, para introducir los puntos <Latex
									inline={true}
									formula="(2, 3) , (5, 2)"
								/> y
								<Latex inline={true} formula="(-1, -2)" />, escribe las coordenadas de cada punto en
								la ventana de <strong>Entrada</strong>
							</p>
						</div>
						<div class="w-full sm:w-1/2">
							<ImagenCaption
								src="/matematicas3/sistemas-coordenados/img-05.jpg"
								caption="GeoGebra Entrada con varios puntos"
								border={true}
							/>
						</div>
					</div>
				</li>
			</ol>
			<h4>Propiedades del sistema de coordenadas.</h4>
			<ul class="ul-disc">
				<li>Los puntos que se encuentran en el origen tienen coordenadas (0, 0).</li>
				<li>
					Los puntos que se encuentran en el primer cuadrante tienen coordenadas positivas en ambos
					ejes.
				</li>
				<li>
					Los puntos que se encuentran en el segundo cuadrante tienen coordenadas negativas en el
					eje X y positivas en el eje Y.
				</li>
				<li>
					Los puntos que se encuentran en el tercer cuadrante tienen coordenadas negativas en ambos
					ejes.
				</li>
				<li>
					Los puntos que se encuentran en el cuarto cuadrante tienen coordenadas positivas en el eje
					X y negativas en el eje Y.
				</li>
			</ul>
		</div>
		<BgFluido bg="bg-blue">
			<div class="mx-auto mb-5 max-w-screen-md">
				<ImagenCaption
					src="/matematicas3/sistemas-coordenados/img-06.jpg"
					caption="GeoGebra cuadrantes y origen del plano cartesiano"
					border={true}
				/>
			</div>
		</BgFluido>
		<div class="mx-auto mb-5 max-w-screen-xl">
			<h4>Mover un punto</h4>
			<p>
				Selecciona uno de los puntos que acabas de crear, muévelo de lugar y observa en entrada como
				cambian los valores de ese punto. Para ello selecciona el primer icono de GeoGebra y luego
				selecciona el punto que deseas mover
			</p>
		</div>
		<BgFluido bg="bg-blue">
			<div class="mx-auto mb-5 max-w-screen-md">
				<ImagenCaption
					src="/matematicas3/sistemas-coordenados/img-07.jpg"
					caption="GeoGebra cuadrantes, origen del plano cartesiano y puntos en movimiento"
					border={true}
				/>
			</div>
		</BgFluido>
		<div class="mx-auto mb-5 max-w-screen-xl">
			<h4>Sistema de coordenadas</h4>
			<p>
				El sistema de coordenadas es un conjunto de ejes que se utilizan para ubicar puntos en el plano. El origen del sistema de coordenadas es el punto donde se intersecan los ejes.
				Ejemplo:
				El Estadio olímpico Universitario UNAM, se muestra la imagen de la ubicación aproximadamente la estructura.
			</p>
		</div>
		<BgFluido bg="bg-blue">
			<div class="mx-auto mb-5 max-w-screen-md">
				<ImagenCaption
					src="/matematicas3/sistemas-coordenados/img-08.png"
					caption="Estadio de Ciudad Universitaria"
					border={true}
				/>
				<ImagenCaption
					src="/matematicas3/sistemas-coordenados/img-09.jpg"
					caption="Estadio de Ciudad Universitaria con coordenadas"
					border={true}
				/>
			</BgFluido>
			</div>
			<div class="mx-auto mb-5 max-w-screen-xl">
				<p>
				Para subir la imagen a GeoGebra, es conveniente que tengas guardada la imagen en formato en tu computadora en formato png. 
				</p>
			</div>
			<div class="mx-auto mb-5 max-w-screen-xl">
				<ol class="ol-alpha">
					<li>
						<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
							<div class="w-full sm:w-1/2">
								<p>
									Selecciona el icono del deslizador y del menú que se desglosa selecciona “Imagen”.
								</p>
							</div>
							<div class="w-full sm:w-1/2">
								<ImagenCaption
									src="/matematicas3/sistemas-coordenados/img-10.jpg"
									caption="GeoGebra, Como seleccionar imagen "
									border={true}
								/>
							</div>
						</div>
					</li>
					<li>
						<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
							<div class="w-full sm:w-1/2">
								<p>	
								Coloca el cursor en una parte de la imagen, da clic derecho con el botón del mouse, lo que despliega un menú. En él, selecciona “Propiedades”.
								</p>
							</div>
							<div class="w-full sm:w-1/2">
								<ImagenCaption
									src="/matematicas3/sistemas-coordenados/img-11.jpg"
									caption="GeoGebra, Como seleccionar imagen en GeoGebra"
									border={true}
								/>
							</div>
						</div>
					</li>
					<li>
						<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
							<div class="w-full sm:w-1/2">
								<p>	
									Con apoyo del mouse, ubica la imagen en el origen del plano cartesiano. También puedes ir a “Propiedades”, seleccionar la opción “Color” y mover el deslizador de opacidad, con el fin de que la imagen sea traslucida y puedas ver el plano cartesiano a través de ella.
								</p>
							</div>
							<div class="w-full sm:w-1/2">
								<ImagenCaption
									src="/matematicas3/sistemas-coordenados/img-12.jpg"
									caption="Centrar imagen"
									border={true}
								/>
							</div>
						</div>
					</li>
					<li>
						<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
							<div class="w-full sm:w-1/2">
								<p>	
									Sin salir de Propiedades, selecciona la opción “Básico” y haz clic en los recuadros “Objeto visible”, “Objeto fijo” y “Objeto auxiliar”
								</p>
							</div>
							<div class="w-full sm:w-1/2">
								<ImagenCaption
									src="/matematicas3/sistemas-coordenados/img-13.jpg"
									caption="Fijar imagen en GeoGebra"
									border={true}
								/>
							</div>
						</div>
					</li>
					<li>
						<div class="flex flex-col items-center gap-3 sm:flex-row md:my-10 md:gap-6">
							<div class="w-full sm:w-1/2">
								<p>	
									Por último, selecciona un punto que desees conocer de la imagen. En este ejemplo, te muestro dos puntos, los cuales se encuentran en C= PEBETERO y D=PALOMAR 
								</p>
							</div>
							<div class="w-full sm:w-1/2">
								<ImagenCaption
									src="/matematicas3/sistemas-coordenados/img-14.jpg"
									caption="Obtener dos coordenadas de los puntos seleccionados"
									border={true}
								/>
							</div>
						</div>
					</li>
				</ol>
			</div>
			<div class="mx-auto mb-5 max-w-screen-xl">
				<p>
					Para ubicar C= PEBETERO y D=PALOMAR 
				</p>
				<p>
					Podemos notar que la primera coordenada <Latex formula="C = (0.02, -5.22 )" inline={true}/> PEBETERO. Las coordenadas negativas indican movimientos hacia abajo (Explanada de Rectoría), con respecto al eje Y.
				</p>
				<p>
					En el centro de la cancha, en el origen, para ir al Pebetero, tienes que moverte 5.52 unidades hacia abajo, con respecto al eje Y, con un movimiento de 0.02 unidades hacia Av. Insurgentes, que corresponde al eje X.					 
				</p>
				<p>
					La segunda coordenada <Latex formula="D = (0.05, 5.52)" inline={true}/> PALOMAR, el movimiento es hacia arriba 5.52 unidades (Av. San Jerónimo), con respecto al eje Y, con un movimiento de 0.05 unidades hacia Av. Insurgentes que es lo que corresponde al eje X.				 
				</p>
			</div>
		
	</div>
</Layout>
