---
import Layout from '@/layouts/Layout.astro'
import Latex from '@/components/Latex.astro'
import ObjetoAprendizajePantalla from '@/components/ObjetoAprendizajePantalla.astro'
import Hr from '@/components/Hr.astro'
import GeogebraLink from '@/components/GeogebraLink.astro'
import ImagenCaption from '@/components/ImagenCaption.astro'
import BgFluido from '@/components/BgFluido.astro'
import ImagenFullCaption from '@/components/ImagenFullCaption.astro'
import Lumi from "@/components/Lumi.astro";
---

<Layout>
	<ObjetoAprendizajePantalla index={2} pantallaIndex={2} asignatura={'matematicas_3'} />
	<div class="objeto-aprendizaje mx-auto animate-fade">
		<div class="mx-auto mb-5 max-w-screen-xl">
			<p>
				Las coordenadas polares son un sistema de coordenadas bidimensional en el que cada punto del plano se determina por una distancia y un ángulo.
			</p>
			<p>
				Un punto <Latex formula="P" inline={true}/> se define como un par ordenado <Latex formula="(r, θ)" inline={true}/>, donde:
			</p>
			<ul class="ul-disc">
				<li>
					r es la distancia del punto P al origen de coordenadas.
				</li>
				<li>
					θ es el ángulo que forma el radio vector OP con el eje polar.
				</li>
			</ul>
		</div>

			<BgFluido bg="bg-blue">
				<div class="mx-auto mb-5 max-w-screen-md">
					<ImagenCaption
						src="/matematicas3/sistemas-coordenados/img-19.jpg"
						caption="Coordenadas Polares"
						border={true}
					/>
				</div>
			</BgFluido>
			<div class="mx-auto mb-5 max-w-screen-xl">

			<p><b>Para definir las coordenadas polares en el plano</b> necesitamos un punto el que llamaremos origen y una línea a la que llamaremos eje polar.</p>

			<p><b>Ángulo Polar:</b> Es el ángulo que hay entre el eje polar y la línea que une el origen con el punto P.</p>

			<p><b>Los valores positivos del ángulo</b> indican ángulos medidos en sentido antihorario desde el eje polar.</p>

			<p><b>Coordenadas polares <Latex formula="(r, θ)" inline={true}/></b> de un punto P que no sea el origen de coordenadas.  Indican la distancia <i>r</i> entre el punto P y el origen y el ángulo polar Ɵ del punto P. <b>Cualquier punto <Latex formula="(0,θ)" inline={true}/> representa el origen </b></p>

			<ul class="ul-disc">
				<li>
					<Latex formula="θ" inline={true}/> es positivo cuando se mide en sentido contrario de las agujas del reloj y negativo cuando se mide en sentido de las manecillas.
				</li>
				<li>
					El ángulo asociado con el punto no es único.
				</li>
			</ul>
			<p>En el sistema de coordenadas cartesianas o rectangulares usamos el plano cartesiano, en el que nos auxiliamos de una cuadricula para localizar puntos:</p>

			</div>

			<BgFluido bg="bg-blue">
				<div class="mx-auto mb-5 max-w-screen-md">
					<ImagenCaption
						src="/matematicas3/sistemas-coordenados/img-01.jpg"
						caption="Plano cartesiano"
						border={true}
					/>
				</div>
			</BgFluido>

			<div class="mx-auto mb-5 max-w-screen-xl">

			<p>En el sistema de coordenadas polares usamos círculos y rayos. Cada circulo nos indica la distancia que hay hacia el polo y cada rayo nos indica los diversos ángulos, usualmente los encontramos separados de <Latex formula="30°" inline={true}/>. </p>
			</div>

			<BgFluido bg="bg-blue">
				<div class="mx-auto mb-5 max-w-screen-md">
					<ImagenCaption
						src="/matematicas3/sistemas-coordenados/img-21.jpg"
						caption="Plano para coordenadas polares"
						border={true}
					/>
				</div>
			</BgFluido>
			<div class="mx-auto mb-5 max-w-screen-xl">

			<p>En la imagen 21, podemos observar donde se encuentra el punto azul, para ello contamos en que circulo está y podemos notar que se encuentra en el cuarto, ese es nuestro valor de la distancia <i>r</i>entre el punto P y el origen y el ángulo polar <Latex formula="θ" inline={true}/> del punto se encuentra el <Latex formula="30°" inline={true}/>.</p>

			<p>También es muy común encontrar la distancia en radianes, está medida se usa mucho en la asignatura de cálculo.</p>

			<p>Para pasar los grados a radianes, considera que <Latex formula="180° = π rad" inline={true}/>. Si deseamos conocer cuánto vale 30° en radianes solo basta realizar una regla de tres:</p>

			<p class="text-center "><Latex formula="180^\\circ = \\pi \\, \\text{rad}"/></p>

			<p class="text-center"><Latex formula="30^\\circ = x"/></p>

			<p>Indicamos la operación <Latex formula="30°" inline={true}/>  por  <Latex formula="π rad" inline={true}/> entre <Latex formula="180°" inline={true}/> </p>

			<p class="text-center text-2xl"><Latex formula="\\frac{30^\\circ \\cdot \\pi \\, \\text{rad}}{180^\\circ} "/></p>

			<p>Eliminamos el cero para simplificar la operación</p>

			<p class="text-center text-2xl"><Latex formula="\\frac{3\\pi \\, \\text{rad}}{18}"/></p>

			<p>Sacamos tercera del numerador y del denominador</p>

			<p class="text-center text-2xl"><Latex formula="\\frac{1 \\pi \\, \\text{rad}}{6}"/></p>

			<p class="text-center text-2xl"><Latex formula="\\frac{\\pi \\, \\text{rad}}{6} = \\frac{\\pi}{6}"/></p>

			<p>De esta manera también se puede ver que las coordenadas del punto de la imagen 20, con el ángulo medido en radianes, son el punto</p>

			<p class="text-center text-2xl"><Latex formula="(4, \\frac{\\pi}{3})"/></p>

			</div>

			<BgFluido bg="bg-blue">
				<div class="mx-auto mb-5 max-w-screen-md">
					<ImagenCaption
						src="/matematicas3/sistemas-coordenados/img-22.jpg"
						caption="Localización de un punto polar"
						border={true}
					/>
				</div>
			</BgFluido>

			<div class="mx-auto mb-5 max-w-screen-xl">

			<p>Ahora tratemos de localizar el punto (6, 120°), recuerda que tienes que ubicar en el eje polar el número 6, esa es nuestra distancia <i>r</i> entre el punto P y el origen y el ángulo polar Ɵ del punto ubicar donde se encuentra 120°, pero como ese punto se encuentra del lado negativo, entonces la coordenada polar es <Latex formula="(-6, 120^\\circ)" inline={true}/> y en radianes, la coordenada polar es <Latex formula="(-6, \\frac{2\\pi}{3})" inline={true}/></p>

			</div>

			<BgFluido bg="bg-blue">
				<div class="mx-auto mb-5 max-w-screen-md">
					<ImagenCaption
						src="/matematicas3/sistemas-coordenados/img-23.jpg"
						caption="Localización de un punto polar negativo"
						border={true}
					/>
				</div>
			</BgFluido>

			<div class="mx-auto mb-5 max-w-screen-xl">

			<p>Pero ¿qué tal si me solicitan el punto <Latex formula="(4, -30°)" inline={true}/>? Hay que ubicar en el eje polar el número 4, esa es nuestra distancia <i>r</i> entre el punto P y el origen y el ángulo polar <Latex formula="Ɵ " inline={true}/> del punto ubicar donde se encuentra de <Latex formula="-30°" inline={true}/>,  pero como es negativo, se busca en el sentido de las manecillas del reloj  .  Este punto también lo podemos  identificar como el punto  <Latex formula="(4, 330°)" inline={true}/>,  siendo su valor en radianes de <Latex formula="(4, \\frac{11\\pi}{6}) " inline={true}/>,  como se muestra en la imagen 24.</p>
			</div>

			<BgFluido bg="bg-blue">
				<div class="mx-auto mb-5 max-w-screen-md">
					<ImagenCaption
						src="/matematicas3/sistemas-coordenados/img-24.jpg"
						caption="Localización de un punto polar"
						border={true}
					/>
				</div>
			</BgFluido>

			<BgFluido>
				<div class="mx-auto mb-5 max-w-screen-md">
					<ImagenCaption
						src="/matematicas3/sistemas-coordenados/Img-C.png"
					/>
				</div>
			</BgFluido>
		</div>


		<Lumi
		src="/matematicas3/sistemas-coordenados/pant-4.html"
		nombre="Ejercicio"
		instrucciones="De las siguientes imágenes identifica cual es verdadero (v) o Falso (F)."
	/>

	</div>
</Layout>
