---
import Layout from "@/layouts/Layout.astro";
import Latex from "@/components/Latex.astro";
import ObjetoAprendizajePantalla from "@/components/ObjetoAprendizajePantalla.astro";
import ImagenFullCaption from "@/components/ImagenFullCaption.astro";
import ObjetoAprendizaje from "@/components/ObjetoAprendizaje.astro";
import GeogebraLink from '@/components/GeogebraLink.astro'
import Lumi from '@/components/Lumi.astro'
import ImagenCaption from '@/components/ImagenCaption.astro'
import BgFluido from '@/components/BgFluido.astro'
---


<Layout
  title="Aproximación al valor del área sin integrales"
  description=""
>

    <ObjetoAprendizajePantalla index={8} pantallaIndex={0} asignatura={"calculo"} /> <!-- Cambiar el número de pantallaIndex de manera incremental, 0 es la primera -->
    <div class="objeto-aprendizaje mx-auto animate-fade">
      <div class="mx-auto mb-5 max-w-screen-xl"> 
        <p>Encontrar el valor del área para funciones constantes o lineales puede ser una tarea sencilla aún sin tener experiencia resolviendo integrales, ya que la forma de las regiones limitadas por estas curvas se puede descomponer como la suma de áreas de figuras geométricas conocidas, como cuadrados, triángulos y rectángulos.</p>

        <div class="table-responsive">
          <table class="table">
          <tbody>
              
              <tr>
                <td class="border border-gray-400 p-4 "> 
                  
                  <ImagenCaption 
                  src="/calculo/interpretacion-integral/imagen7.PNG"
                  
                  />
                  
                </td>
                  <td class="border border-gray-400 p-4">
                      <p>La gráfica delimitada por la función <Latex formula="f(x)=-\\dfrac{1}{2}x+2 " inline={true}/>, el eje X y las rectas  <Latex formula="x=-4" inline={true}/> y  <Latex formula="x=2" inline={true}/>, puede ser calculada, de forma exacta, tomando el área del rectángulo y un cuadrado resultando 15 unidades cuadradas, como se observa.</p>
                  </td>
              </tr>
              
          </tbody>
          </table>
      
        </div>

        <p>Existen áreas encerradas por funciones en las que resulta complicado hacer una división en figuras conocidas; es entonces cuando se pueden hacer aproximaciones al área por medio de rectángulos.</p>

        <p>En las gráficas que se muestran se hacen aproximaciones al valor del área encerrada por la función <Latex formula="f(x)=\\dfrac{1}{2}x^2+2 " inline={true}/>, tomando cada vez una mayor cantidad de rectángulos. Para dicha aproximación se utilizan rectángulos cuya altura es el valor de la función para el extremo izquierdo de su base.</p>

        <div class="table-responsive">
          <table class="table">
          <tbody>
              
              <tr>
                <td class="border border-gray-400 p-4"> 
                  <p class="text-center"><b>2 rectángulos <Latex formula="A_(aprox.)" inline={true}/>=4.5</b></p>
                  <ImagenCaption
                  src="/calculo/interpretacion-integral/imagen8.PNG"
                  />
                 
                </td>
                <td class="border border-gray-400 p-4"> 
                  <p class="text-center"><b>4 rectángulos <Latex formula="A_(aprox.)" inline={true}/>=4.875</b></p>
                  <ImagenCaption
                  src="/calculo/interpretacion-integral/imagen9.PNG"
                  />
                  
                </td>
              </tr>

              <tr>
                <td class="border border-gray-400 p-4"> 
                  <p class="text-center"><b>8 rectángulos  <Latex formula="A_(aprox.)" inline={true}/>=5.094</b></p>
                  <ImagenCaption
                  src="/calculo/interpretacion-integral/imagen10.PNG"
                  />
                   
                </td>
                <td class="border border-gray-400 p-4"> 
                  <p class="text-center"><b>16 rectángulos <Latex formula="A_(aprox.)" inline={true}/>=5.212</b></p>
                  <ImagenCaption
                  src="/calculo/interpretacion-integral/imagen11.PNG"
                  />
                  
                </td>
              </tr>
              
          </tbody>
          </table>
      
        </div>

        <p>Observa que, en este caso, utilizando un mayor número de rectángulos lleva una mejor aproximación del valor del área porque los espacios que quedan entre la curva y los rectángulos van siendo menos significativos.</p>

        <p>Utiliza la siguiente plantilla de GeoGebra para observar la aproximación al área encerrada por distintas funciones. 
      </div>
      <GeogebraLink
      href="https://www.geogebra.org/calculator/wkx2p76h"
      titulo="Aproximación del área"
      texto="Revisa la siguiente construcción"
      class='max-w-lg'
    />

    <div class="mx-auto mb-5 max-w-screen-xl">
          <ol class="ol-number">
            <li>Primero debes ingresar los coeficientes de la función polinomial que vas a analizar, la cual puede ser constante <Latex formula="(a=0 \\quad y \\quad b=0)" inline={true}/>, lineal <Latex formula="(a=0)" inline={true}/> o cuadrática.</li>
            <li>Después ingresa el intervalo <Latex formula="[a,b]" inline={true}/> en el que deseas calcular el área</li>
            <li>Finalmente, con ayuda del deslizador, modifica el número de rectángulos con el que se te pide aproximar el valor del área.</li>
          </ol>
          <p>Apoyándote de la plantilla anterior, responde la siguiente actividad.</p>
    </div>

        <Lumi
            src="/calculo/interpretacion-integral/p2 ej1.html"
            nombre="Actividad"
            instrucciones="Coloca correctamente los siguientes valores de área a la función y requerimientos que correspondan:"
            />

    <div class="mx-auto mb-5 max-w-screen-xl"> 
      <h3>Un poco de interpretación física</h3>
      <p>Es importante mencionar que la interpretación geométrica de la integral definida no se limita al cálculo de áreas limitadas por funciones, pues esto dependerá de la naturaleza de las magnitudes que representen los ejes coordenados.</p>
      <h4>Por ejemplo:</h4>
      <p>La siguiente gráfica describe la velocidad de un móvil (eje Y) con respecto al tiempo (eje X), siendo el área bajo la curva que ha recorrido el móvil en el intervalo de tiempo considerado, es decir:</p>

      <p class="text-center"><Latex formula="d= \\displaystyle \\int_{a}^{b} v(t)\\, dt" inline={true}/></p>

      <div class="table-responsive">
        <table class="table">
        <tbody>
            
            <tr>
              <td class="border border-gray-400 p-4"> 
                
                <ImagenCaption
                src="/calculo/interpretacion-integral/imagen12.PNG"
                />
                <p class="text-center">(Interpretación física de una integral)</p> 
              </td>
                <td class="border border-gray-400 p-4">
                  <p>En este caso:</p>
                  <p class="text-center"><Latex formula="d= \\displaystyle \\int_{0}^{4} v(t)\\, dt = 8" inline={true}/></p>
                    <p>Considerando que si <Latex formula="v(t)" inline={true}/> están en metros sobre segundo y <Latex formula="t" inline={true}/> en metros, significa que la distancia que recorrió el móvil (área bajo la curva) en el intervalo <Latex formula="[0,4]" inline={true}/> es 8 metros.</p>
                </td>
            </tr>
            
        </tbody>
        </table>
    
      </div>


    </div>
    </div>

</Layout>
