---
import Layout from "@/layouts/Layout.astro";
import Latex from "@/components/Latex.astro";
import ObjetoAprendizaje from "@/components/ObjetoAprendizaje.astro";
import GeogebraLink from '@/components/GeogebraLink.astro'
import Lumi from '@/components/Lumi.astro'
import ImagenCaption from '@/components/ImagenCaption.astro'
import BgFluido from '@/components/BgFluido.astro'
---

<Layout
  title="Interpretación geométrica de la integral"
  description=""
>

    <ObjetoAprendizaje index={8} asignatura={"calculo"} />
    <div class="objeto-aprendizaje mx-auto animate-fade">
      <div class="mx-auto mb-5 max-w-screen-xl">
        <p>En la siguiente imagen se tiene “La representación de una integral definida”</p>

        <ImagenCaption
                src="/calculo/interpretacion-integral/imagen1.PNG"
              />

        <p>La interpretación gráfica del resultado de una integral definida es el área bajo la curva de la función asociada, siempre que ésta sea continua en el intervalo de integración <Latex formula="[a,b]" inline={true}/>. Cumplido lo anterior, dada una función <Latex formula="f(x)" inline={true}/> de variable real <Latex formula="x" inline={true}/>, la integral definida <Latex formula="\\int_{a}^{b} f(x) \\, dx" inline={true}/> representa el área de la región del plano <Latex formula="XY" inline={true}/> limitada entre la gráfica de la función, el eje X y las rectas <Latex formula="x=a" inline={true}/> y <Latex formula="x=b" inline={true}/>.</p>

      <div class="table-responsive">
        <table class="table">
        <tbody>

            <tr>
              <td class="border border-gray-400 p-4">

                <ImagenCaption
                src="/calculo/interpretacion-integral/imagen2.PNG"
                />
                <p class="text-center">(Área bajo la curva 1)</p>
              </td>
                <td class="border border-gray-400 p-4">
                    <p>Se puede observar que el área encerrada por la gráfica de la función tiene signo positivo cuando la curva de la función está sobre el eje X, y negativa cuando está por debajo de éste.</p>
                </td>
            </tr>

        </tbody>
        </table>

      </div>

      <h4>Consideraciones para el cálculo del área </h4>

      <p>Cuando se busca obtener el valor del área en un intervalo <Latex formula="[a,b]" inline={true}/> en el que se presentan subintervalos donde <Latex formula="f(x)" inline={true}/> es positiva y negativa, se debe anteponer al cálculo del área que está por debajo del eje X un signo negativo de manera que ésta se contabilice como positiva.</p>

      <div class="table-responsive">
        <table class="table">
        <tbody>

            <tr>
              <td class="border border-gray-400 p-4">

                <ImagenCaption
                src="/calculo/interpretacion-integral/imagen3.PNG"
                />
                <p class="text-center">(Área bajo la curva 2)</p>
                <p>Si queremos saber el valor del área encerrada por el eje X y la función <Latex formula="f(x)" inline={true}/> en el intervalo <Latex formula="[a,b]" inline={true}/>, lo cual se expresa:</p>
                <p class="text-center"><Latex inline={true} formula=" A_2= \\int_{c}^{b}{f(x)\\, dx}=-2"/></p>
              </td>
                <td class="border border-gray-400 p-4">
                    <p>Para obtener el valor correcto del área podemos contabilizarla en dos partes:</p>
                    <p>Área positiva:</p>
                    <p class="text-center"><Latex inline={true} formula="A_1= \\int_{a}^{c}{f(x)\\, dx}=4.5 "/></p>
                    <p>Área negativa:</p>
                    <p class="text-center"><Latex inline={true} formula="A_2= \\int_{c}^{b}{f(x)\\, dx}=-2 "/></p>
                    <p>Para obtener el valor real del área, al área negativa se le antepone un signo negativo, resultando:</p>
                    <p class="text-center"><Latex inline={true} formula="A_{2}=-(-2)=2 "/></p>
                </td>
            </tr>
            <tr>
              <td class="border border-gray-400 p-4">

                <p>Al resolver la integral, obtendríamos que el valor es <Latex inline={true} formula="A=4.5-2=2.5"/>, lo cual es un resultado erróneo puesto que no se ha considerado que hay una región de área en el que la función es negativa. </p>

              </td>
                <td class="border border-gray-400 p-4">
                    <p>Por lo que el área encerrada por el eje X y la función <Latex formula="f(x)" inline={true}/> en el intervalo <Latex formula="[a,b]" inline={true}/> es:</p>
                    <p class="text-center"><Latex inline={true} formula="A=A_{1}+A_{2}=4.5+2=6.5 "/></p>

                </td>
            </tr>

        </tbody>
        </table>

      </div>

    </div>
      <Lumi
          src="/calculo/interpretacion-integral/p1 ej1.html"
          nombre="Actividad"
          instrucciones=": Determina para cada gráfica el planteamiento de integrales adecuado para obtener el valor del área limitada por el eje X, la función f(x) y las rectas x=a y x=. "
          />

    </div>

</Layout>
