---
import Layout from "@/layouts/Layout.astro";
import Latex from "@/components/Latex.astro";
import ObjetoAprendizaje from "@/components/ObjetoAprendizaje.astro";
import ImagenFullCaption from "@/components/ImagenFullCaption.astro";
import GeogebraLink from '@/components/GeogebraLink.astro'
import Lumi from '@/components/Lumi.astro'
import ImagenCaption from '@/components/ImagenCaption.astro'
import BgFluido from '@/components/BgFluido.astro'
import Video from '@/components/Video.astro'
---

<Layout
  title="Aproximando el área de una figura irregular: el concepto de integral"
  description=""
>

    <ObjetoAprendizaje index={10} asignatura={"calculo"} />
    <div class="objeto-aprendizaje mx-auto animate-fade">
      <div class="mx-auto mb-5 max-w-screen-xl">
        <p>Dentro del Cálculo diferencial e integral, determinar el área bajo la gráfica de una función mediante aproximaciones es una de las principales motivaciones que lleva a la integral definida</p>
        <p>De esta manera, la integral definida se puede definir como una suma infinita:</p>

        <div class="mx-auto grid max-w-screen-lg items-center gap-10 xl:grid-cols-1">         
          <div class="bg-green-200 p-5 text-darkblue">
            <p>
              Si <Latex inline={true} formula="f(x)"/>  es una función continua definida para <Latex inline={true} formula="a≤x≤b"/>. Se divide el intervalo <Latex inline={true} formula="[a,b]"/> en n partes iguales <Latex inline={true} formula="\\Delta x = \\dfrac{b-a}{n}"/> y tomamos los extremos finales <Latex inline={true} formula="x_i"/> de estos subintervalos. <b>La integral definida de f, desde a hasta b</b>, está dada por
            </p>
            <p class="text-center"> <Latex inline={true} formula=" \\displaystyle \\int_{a}^{b}{f(x) dx}=\\lim_{n\\to \\infty}\\sum_{i=1}^{n}f(x_{i})\\Delta x"/></p>

              <ImagenCaption
              src="/calculo/integral-definida/img01.png">
          </div>
        </div>

        <br>

        <p>Si la función es positiva, entonces estamos calculando el área bajo la gráfica, pero si la función es negativa, o contiene partes negativas, el valor encontrado con el límite no corresponde con el área, pero le llamamos integral definida de igual manera.</p>

        <p>Determinar el valor de una integral definida mediante sumas puede ser difícil, sobre todo si las funciones involucradas son “complicadas”. Sin embargo, se puede utilizar un resultado muy importante, que se conoce como el Teorema Fundamental del Cálculo, el cual nos ayuda a determinar la integral definida conociendo una antiderivada de la función, la cual se conoce como integrando. A continuación lo enunciamos.</p>

        <div class="mx-auto grid max-w-screen-lg items-center gap-10 xl:grid-cols-1">         
          <div class="bg-green-200 p-5 text-darkblue">
            <p>
             <b>Teorema Fundamental del Cálculo</b>
            </p>
            <p>Sea <Latex inline={true} formula="f(x)"/> una función continua definida en el intervalo <Latex inline={true} formula="[a,b]"/>, si <Latex inline={true} formula="F(x)"/> es una antiderivada de <Latex inline={true} formula="f(x)"/>, entonces</p>
            <p class="text-center"> <Latex inline={true} formula="\\displaystyle \\int_{a}^{b}f(x) dx = F(b)-F(a)"/>

              
          </div>
        </div>

        <br>
        <p>Veamos cómo se utiliza el teorema resolviendo algunas integrales.</p>

        <ol class="ol-number">
          <li>
            <p>Determina el valor de la integral</p>
            <p class="text-center"><Latex inline={true} formula=" \\displaystyle \\int_{0}^{2}x^2\\, dx"/></p>
            <p>Solución: Como <Latex inline={true} formula="F(x)=\\dfrac{x^3}{3}"/> es una antiderivada de <Latex inline={true} formula="f(x)=x^2"/>, entonces</p>
            <p class="text-center"><Latex inline={true} formula="\\displaystyle \\int_{0}^{2}x^2\\, dx =\\dfrac{x^3}{3}\\Bigg|_{0}^{2}"/></p>
            <p class="text-center"><Latex inline={true} formula="=\\left(\\dfrac{2^3}{3} \\right)-\\left(\\dfrac{0^3}{3} \\right)"/></p>
            <p class="text-center"><Latex inline={true} formula="=\\dfrac{8}{3}"/></p>
            <p>Podemos concluir que </p>
            <p class="text-center"><Latex inline={true} formula="\\displaystyle \\int_{0}^{2} x^2\\, dx =\\dfrac{8}{3}"/></p>
          </li>
          <li>
            <p>Calcula el valor de la integral</p>
            <p class="text-center"><Latex inline={true} formula="\\displaystyle \\int_{0}^{\\pi / 2}\\cos(x)\\, dx"/></p>
            <p>Solución: Tenemos que <Latex inline={true} formula="G(x)=sen(x)"/> es una antiderivada de <Latex inline={true} formula="G(x)=cos(x)"/>, por lo que </p>
            <p class="text-center"><Latex inline={true} formula="\\displaystyle \\int_{0}^{\\pi /2} \\cos(x) \\, dx= sen(x)\\Bigg|_{0}^{\\pi / 2}"/></p>
            <p class="text-center"><Latex inline={true} formula="=sen\\left(\\dfrac{\\pi}{2} \\right)-sen(0)"/></p>
            <p class="text-center"><Latex inline={true} formula="=1-0"/></p>
            <p class="text-center"><Latex inline={true} formula="=1"/></p>

          </li>
        </ol> 
        <p>Además, hay un par de propiedades que nos llevan a poder determinar la integral definida de una mayor cantidad de funciones, y otras tres que son relativas al intervalo de integración. Dichas propiedades las enunciamos a continuación.</p>

        <ol class="ol-number">
          <li><p class="text-center"><Latex inline={true} formula="\\displaystyle \\int_{a}^{b} k\\cdot f(x)\\, dx=k\\cdot \\displaystyle \\int_{a}^{b} f(x) \\, dx"/></p></li>
          <li><p class="text-center"><Latex inline={true} formula="\\displaystyle \\int_{a}^{b}[f(x)+g(x)]\\, dx=\\displaystyle \\int_{a}^{b}f(x) \\, dx+\\displaystyle \\int_{a}^{b} g(x)\\, dx"/></p></li>
          <li><p class="text-center"><Latex inline={true} formula="\\displaystyle \\int_{a}^{b} f(x) \\, dx=-\\displaystyle \\int_{b}^{a} f(x) \\, dx"/></p></li>
          <li><p class="text-center"><Latex inline={true} formula="\\displaystyle \\int_{a}^{a} f(x) \\, dx =0"/></p></li>
          <li><p class="text-center"><Latex inline={true} formula="\\displaystyle \\int_{a}^{b} f(x) \\, dx= \\displaystyle \\int_{a}^{c} f(x) \\, dx+\\displaystyle \\int_{c}^{b} f(x) \\, dx"/></p></li>
        </ol>
       </div>

       <Lumi
       src="/calculo/integral-definida/p1 ej1.html"
       nombre="Actividad"
       instrucciones="Selecciona los pares que corresponden a una integral con su propiedad."
       />
       <Lumi
       src="/calculo/integral-definida/p1 ej2.html"
       nombre="Actividad"
       instrucciones="Con base en el Teorema Fundamental del Cálculo y utilizando las propiedades de las integrales definidas, determina el valor de cada una de las siguientes integrales. Redondea el valor a dos decimales. "
       />
    </div>

</Layout>
