---
import Layout from '@/layouts/Layout.astro'
import Latex from '@/components/Latex.astro'
import ObjetoAprendizaje from '@/components/ObjetoAprendizaje.astro'
import ImagenCaption from '@/components/ImagenCaption.astro'
import BgFluido from '@/components/BgFluido.astro'

---

<Layout
  title="Funciones exponenciales y logarítmicas."
  description="Aquí vas a utilizar las funciones exponencial y logarítmica para representar formas de variación de fenómenos de la naturaleza, y que éstas permitan modelar."
>

    <ObjetoAprendizaje index={5} asignatura={"matematicas_4"} />
    <div class="objeto-aprendizaje mx-auto animate-fade">
      <BgFluido bg="bg-red">
        <div class="max-w-screen-sm mx-auto"><img src="/matematicas4/funciones-exp-logaritmicas/puma1.jpg"></div>
      </BgFluido>
      <div class="mx-auto max-w-screen-xl">
        <h3>Crecimiento o decaimiento exponencial</h3>
        <h4>Introducción</h4>
        <p>El crecimiento exponencial lo podemos observar en la vida cotidiana en las poblaciones de personas, bacterias o animales, ejemplo una familia de pollos, como se muestra en la imagen.</p>
          <p>La función exponencial crece muy rápido para valores positivos de <Latex formula="x" inline={true}/>.</p>
          <div class="max-w-screen-sm mx-auto my-5">
          <ImagenCaption src="/matematicas4/funciones-exp-logaritmicas/imagen1.jpg" caption="Una familia de pollos" border={false} /></div>
          <p class="mt-5">Otro ejemplo son el valor de una inversión cuando se reinvierten los intereses, el crecimiento demográfico, y la depreciación o decaimiento; todos se apegan al modelo exponencial.</pclass="mt-5">
          <p>Para ilustrar cómo puede aparecer una función exponencial, analizaremos algunos problemas de interés compuesto. </p>
          <h4 class="mt-5">Actividad 1</h4>
          <p>Supongamos que inviertes $4,000.00 en un fondo de inversión que te garantiza un 12% al año, capitalizado anualmente.</p>
          <ol class="ol-number mt-5">
            <li>En la siguiente tabla, se muestra el valor de una inversión en un período de 7 años:

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Años <Latex inline={true} formula="t" /></th>
                      <th>Interés</th>
                      <th>Ganancia 12%</th>
                      <th>Valor</th>
                      <th>Inversión</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>0</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>4,000</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>4,000(0.12)</td>
                      <td>480</td>
                      <td>
                        <ul class="ul">
                          <li>4,000 (0.12) + 4000= 4,480</li>
                          <li>4,000 (1.12) = 4,480</li>
                        </ul>
                      </td>
                      <td>4,480</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>4,000(1.12) (0.12)</td>
                      <td>537.60</td>
                      <td>
                        <ul class="ul">
                          <li>4,000 (1.12) (0.12) + 4,480= 5,017.60</li>
                          <li>4,480 (1.12) = 5,017.60</li>
                        </ul>
                      </td>
                      <td>5,017.60</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              Suponiendo que dividimos el valor de la inversión de cada año entre la inversión del año anterior. 
              <div class="table-responsive2">
                <table class="table2">
                  <thead>
                    <tr>
                      <th>Primer año</th>
                      <th>Segundo año</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><Latex inline={true} formula="\\frac{\\text{Inversión en el primer año}}{\\text{inversión inicial}} = \\frac{4,480}{4,000} = 1.12" /></td>
                      <td><Latex inline={true} formula="\\text{Inversión en el segundo año} = \\frac{5,017.60}{4,480} = 1.12" /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              Encontramos el valor 1.12, siendo el valor de la inversión de cada año. Así, por cada aumento de 1 en t, V se multiplica por 1.12.
A continuación, se muestra en la tabla, en la fila del valor, distintas de encontrar el resultado, esto con el objetivo de notar la importancia de elevar un numero a un exponente. 

            </li>
            <li>Segundo</li>
            <li>Tercero</li>
          </ol>
</div>
          




        <p>Localiza en el siguiente applet las parejas de precios que sugeriste arriba, considera como la coordenada x  el precio de cada pluma y como la coordenada y  el precio de cada lápiz.</p>

      <p>Como puedes notar, existe más de una solución al problema de Diego. De hecho, si definimos como <Latex
        formula="x"
        inline={true}
      /> el precio cada pluma y como <Latex
      formula="y"
      inline={true}
    /> el precio de cada lápiz, podemos modelar el problema por medio de la ecuación <Latex
    formula="12x+6y=102"
    inline={true}
  />.</p>
      <p>Los puntos que satisfacen esta ecuación están representados por una recta, como se muestra en el siguiente applet de GeoGebra. Mueve el punto P que se encuentra sobre la recta y explora los diferentes precios que podrían tener cada pluma y cada lápiz.</p>

    <p>Nota que existen soluciones que involucran números negativos; en el contexto del problema esto no tiene sentido, sin embargo, matemáticamente debemos considerarlas.</p>
    <h3>Problema (Parte II)</h3>
    <p>En la escuela, Diego se encontró con Paola y le comentó lo que le había ocurrido con su compra en la papelería. Paola se rio y le dijo que a ella le había ocurrido algo parecido; compró 5 plumas y 4 lápices y le cobraron 50 pesos, pero tampoco preguntó el precio de cada cosa.</p>
    <p>¿Puedes encontrar tres posibles precios para cada pluma y cada lápiz en el caso de Paola?</p>
    <p>Nuevamente, los puntos que satisfacen esta ecuación están representados por una recta, como se muestra en el siguiente applet de GeoGebra, ¿puedes encontrar los puntos que representan los precios que consideraste en la pregunta anterior?</p>

  <h3>Problema (Parte III)</h3>
  <p>Finalmente Paola y Diego se dieron cuenta que podrían conocer el costo de cada pluma y de cada lápiz, pues sólo bastaba encontrar un punto que satisficiera ambas ecuaciones. Gráficamente esto significa encontrar el punto de intersección de las rectas que representan a las ecuaciones.</p>

<p>A una ecuación de la forma <Latex formula="ax+by=c" inline={true}/>, con <Latex formula="a" inline={true}/>, <Latex formula="b" inline={true}/> y <Latex formula="c" inline={true}/> números reales, se le conoce como <em>Ecuación lineal en dos variables</em>, y a un conjunto de dos ecuaciones lineales en dos variables se le conoce como <em>Sistema de Ecuaciones Lineales (SEL) de <Latex formula="2x2" inline={true}/></em>. </p>
</div>
    </div>

</Layout>
