---
import Layout from "@/layouts/Layout.astro";
import Latex from "@/components/Latex.astro";
import Lumi from '@/components/Lumi.astro'
import BgFluido from '@/components/BgFluido.astro'
import ObjetoAprendizajePantalla from "@/components/ObjetoAprendizajePantalla.astro";
import ImagenFullCaption from "@/components/ImagenFullCaption.astro";
---

<Layout
  title="Elipse"
  description=""
>

    <ObjetoAprendizajePantalla index={4} pantallaIndex={3} asignatura={"matematicas_3"}/> <!-- Cambiar el número de pantallaIndex de manera incremental, 0 es la primera -->
    <div class="objeto-aprendizaje mx-auto animate-fade">
      <div class="mx-auto max-w-screen-xl">
        <p>La ecuación de la elipse en su forma general está dada por <Latex formula="Ax^2+Cy^2+Dx+Ey+F=0" inline={true}/> con <Latex formula="A\\neq C" inline={true}/> y ambas cantidades de igual signo.</p>
        <p><u>Elipse horizontal</u></p>
        <p>El eje mayor es paralelo al eje <Latex formula="X" inline={true}/>.</p>
        <p>Ecuación canónica:</p>
        <div class="my-5 text-center text-xl">
            <Latex formula="\\frac{(x-h)^2}{a^2}+\\frac{(y-k)^2}{b^2}=1"/>
        </div>
        <div class="mx-auto ">
            <ImagenFullCaption src="/matematicas3/ecuaciones-conicas/31.png" caption="Elipse horizontal"/>
        </div>
        <ul class="ul-disc">
            <li>Vértices: <Latex formula="V1(h+a,k)\\;y\\;V2(h-a,k)" inline={true}/></li>
            <li>Focos: <Latex formula="F1(h+c,k)\\;y\\;F2 (h-c,k)" inline={true}/></li>
            <li>Extremos del eje menor: <Latex formula="B1(h,k+b)\\;y\\;B2(h,k-b)" inline={true}/></li>
            <li>Lado recto: <Latex formula="LR=\\left|\\frac{2b^2}{a}\\right|" inline={true}/></li>
            <li>Excentricidad: <Latex formula="e=\\frac{c}{a}" inline={true}/></li>
        </ul>

        <p><u>Elipse vertical</u></p>
        <p>El eje mayor es paralelo al eje <Latex formula="Y" inline={true}/>.</p>
        <p>Ecuación canónica:</p>
        <div class="my-5 text-center text-xl">
            <Latex formula="\\frac{(x-h)^2}{b^2}+\\frac{(y-k)^2}{a^2}=1 "/>
        </div>
        <div class="mx-auto ">
            <ImagenFullCaption src="/matematicas3/ecuaciones-conicas/32.png" caption="Elipse vertical"/>
        </div>
        <ul class="ul-disc">
            <li>Vértices: <Latex formula="V1(h,k+a)\\;y\\;V2(h,k-a)" inline={true}/></li>
            <li>Focos: <Latex formula="F1(h,k+c)\\;y\\;F2(h,k-c)" inline={true}/></li>
            <li>Extremos del eje menor: <Latex formula="B1(h+b,k)\\;y\\;B2(h-b,k)" inline={true}/></li>
            <li>Lado recto: <Latex formula="LR=\\left|\\frac{2b^2}{a}\\right|" inline={true}/></li>
            <li>Excentricidad: <Latex formula="e=\\frac{c}{a}" inline={true}/></li>
        </ul>
        <BgFluido bg="bg-blue">
            <h4 class="font-extrabold uppercase !text-darkblue">Ejemplo</h4>
        </BgFluido>
        <div class="mx-auto max-w-screen-xl">
            <p>Determina los elementos de la elipse y traza su gráfica:</p>
            <div class="my-5 text-center text-xl">
                <Latex formula="\\frac{(x-5)^2}{9}+\\frac{(y+2)^2}{16}=1"/>
            </div>
            <p><u>Solución:</u></p>
            <p>El centro de la elipse tiene centro en <Latex formula="C(h,k)" inline={true}/>, donde <Latex formula="h=5\\;y\\;k=-2" inline={true}/>,  por lo que <Latex formula="C(5,-2)" inline={true}/>.</p>
            <p>Como el denominador mayor esta debajo de la <Latex formula="y" inline={true}/>, por lo tanto el eje mayor coincide con el eje <Latex formula="y" inline={true}/>, por lo que sería una elipse vertical.</p>
            <p>Obteniendo el valor de c:</p>
            <p class="text-center"><Latex formula="c=\\sqrt {16 - 9}" inline={true}/></p>
            <p class="text-center"><Latex formula="c=\\sqrt {7}" inline={true}/></p>

            <p>Sustituyendo los valores de <Latex formula="a" inline={true}/>, <Latex formula="b" inline={true}/> y <Latex formula="c" inline={true}/>, los elementos de la elipse quedarían de la siguiente forma:</p>
            <ul class="ul-disc">
                <li>Vértices: <Latex formula="	V1(5,-2+4)\\;y\\;V2(5,-2-4)\\longrightarrow V1(5,2)\\;y\\;V2(5,-6)" inline={true}/></li>
                <li>Focos: <Latex formula="F1(5,-2+\\sqrt{7})\\;y\\;F2(5,-2-\\sqrt{7})\\longrightarrow F1(5,0.65)\\;y\\;F2(5,-4.65)" inline={true}/></li>
                <li>Extremos del eje menor: <Latex formula="B1(5+3,-2)\\;y\\;B2(5-3,-2)\\longrightarrow B1(8,-2)\\;y\\;B2(2,-2)" inline={true}/></li>
                <li>Lado recto: <Latex formula="LR=\\left|\\frac{2b^2}{a}\\right|=\\left|\\frac{2*9}{4}\\right|=\\left|\\frac{18}{4}\\right|=4.5" inline={true}/></li>
                <li>Excentricidad: <Latex formula="e=\\frac{c}{a}=\\frac{\\sqrt{7}}{4}=0.66" inline={true}/></li>
            </ul>
            <div class="mx-auto ">
                <ImagenFullCaption src="/matematicas3/ecuaciones-conicas/33.png" caption="Ejemplo. Gráfica"/>
            </div>
          </div>
      </div>
      <Lumi
		    src="/matematicas3/ecuaciones-conicas/Elipse2.html"
		    nombre="Actividad"
		    instrucciones="Selecciona la respuesta correcta."
	/>
    </div>
    
</Layout>