---
import Layout from "@/layouts/Layout.astro";
import Latex from "@/components/Latex.astro";
import BgFluido from '@/components/BgFluido.astro'
import ObjetoAprendizajePantalla from "@/components/ObjetoAprendizajePantalla.astro";
import ImagenFullCaption from "@/components/ImagenFullCaption.astro";
---

<Layout
  title="Hipérbola"
  description=""
>

    <ObjetoAprendizajePantalla index={4} pantallaIndex={5} asignatura={"matematicas_3"} /> <!-- Cambiar el número de pantallaIndex de manera incremental, 0 es la primera -->
    <div class="objeto-aprendizaje mx-auto animate-fade">
      <div class="mx-auto max-w-screen-xl">
        <h4>Hipérbola horizontal</h4>
        <p>El eje transversal es paralelo al eje <Latex formula="X" inline={true}/>.</p>
        <div class="mx-auto  lg:w-1/2">
          <ImagenFullCaption src="/matematicas3/ecuaciones-conicas/40.png" caption="Hipérbola horizontal"/>
      </div>
      <p>Ecuación ordinaria horizontal con centro <Latex formula="C(h,k)" inline={true}/>:</p>
      <div class="my-5 text-center text-xl">
        <Latex formula="\\frac{(x-h)^2}{a^2}-\\frac{(y-k)^2}{b^2}=1"/>
      </div>
      <ul class="ul-disc">  
        <li>Vértices: <Latex formula="V1(h+a,k)" inline={true}/> y <Latex formula="V2(h-a,k)" inline={true}/></li>
        <li>Focos: <Latex formula="F1(h+c,k)" inline={true}/> y <Latex formula="F2(h-c,k)" inline={true}/></li>
        <li>Extremos del eje conjugado: <Latex formula="B1(h,k+b)" inline={true}/> y <Latex formula="B2(h,k-b)" inline={true}/></li>
        <li>Asíntotas: <Latex formula="l1:y-k=\\frac{b}{a}(x-h)\\hspace{1cm}l2:y-k=-\\frac{b}{a}(x-h)" inline={true}/></li>
        <li>Lado Recto: <Latex formula="LR=\\left|\\frac{2b^2}{a}\\right|" inline={true}/></li>
        <li>Excentricidad: <Latex formula="e=\\frac{c}{a}\\hspace{1cm}(e>1)" inline={true}/></li>
      </ul>
      <h4>Hipérbola vertical</h4>
        <p>El eje transversal es paralelo al eje <Latex formula="Y" inline={true}/>.</p>
        <div class="mx-auto  lg:w-1/2">
          <ImagenFullCaption src="/matematicas3/ecuaciones-conicas/41.png" caption="Hipérbola vertical"/>
      </div>
      <p>Ecuación ordinaria vertical con centro <Latex formula="C(h,k)" inline={true}/>:</p>
      <div class="my-5 text-center text-xl">
        <Latex formula="\\frac{(y-k)^2}{a^2}-\\frac{(x-h)^2}{b^2}=1"/>
      </div>
      <ul class="ul-disc">  
        <li>Vértices: <Latex formula="V1(h,k+a)" inline={true}/> y <Latex formula="V2(h,k-a)" inline={true}/></li>
        <li>Focos: <Latex formula="F1(h,k+c)" inline={true}/> y <Latex formula="F2(h,k-c)" inline={true}/></li>
        <li>Extremos del eje conjugado: <Latex formula="B1(h+b,k)" inline={true}/> y <Latex formula="B2(h-b,k)" inline={true}/></li>
        <li>Asíntotas: <Latex formula="l1:y-k=\\frac{a}{b}(x-h)\\hspace{1cm}l2:y-k=-\\frac{a}{b}(x-h)" inline={true}/></li>
        <li>Lado Recto: <Latex formula="LR=\\left|\\frac{2b^2}{a}\\right|" inline={true}/></li>
        <li>Excentricidad: <Latex formula="e=\\frac{c}{a}\\hspace{1cm}(e>1)" inline={true}/></li>
      </ul>
      <h3>Actividad: Selecciona la respuesta correcta</h3>
      </div>
    </div>
</Layout>