---
import Layout from "@/layouts/Layout.astro";
import Latex from "@/components/Latex.astro";
import ObjetoAprendizajePantalla from "@/components/ObjetoAprendizajePantalla.astro";
import ImagenFullCaption from "@/components/ImagenFullCaption.astro";
---

<Layout title="Funciones de continuidad">

    <ObjetoAprendizajePantalla index={1} pantallaIndex={0} asignatura={"calculo"} /> <!-- Cambiar el número de pantallaIndex de manera incremental, 0 es la primera -->
    <div class="objeto-aprendizaje mx-auto animate-fade">
      <div class="mx-auto max-w-screen-xl">
        <p>De manera un poco más formal, podemos decir que una función <Latex formula="f(x)" inline={true}/> es continua en <Latex formula="x_0" inline={true}/> si se cumple lo siguiente:</p>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>1.	El límite <Latex formula="\\lim\\limits_{x\\to{x}_{0}}f(x)" inline={true}/> existe.</p>
        </div>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>2. La función <Latex formula="f(x)" inline={true}/> está definida en <Latex formula="x_0" inline={true}/>.</p>
        </div>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>3. Se cumple la igualdad <Latex formula="\\lim\\limits_{x\\to{x}_{0}}f(x)=f({x}_{0})" inline={true}/>.</p>
        </div>
        <br><p>Veamos algunos ejemplos:</p>
        <p><font color="#3f87ab" size="4"><b>A)</b></font> Comprobar que la función <Latex formula="f(x)=x^2+3x" inline={true}/> es continua en <Latex formula="{x}_{0}=-1" inline={true}/>.</p>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>1.	El límite <Latex formula="\\lim\\limits_{x\\to{x}_{0}}f(x)" inline={true}/> existe.</p>
        </div>  
        <div class="my-5 text-center text-2xl">
          <Latex formula="\\lim\\limits_{x\\to-1}(x^2+3x)=1-3=-2"/>
        </div>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>2.	La función está definida en <Latex formula="{x}_{0}=-1" inline={true}/>.</p>
        </div>  
        <div class="my-5 text-center text-2xl">
          <Latex formula="f(-1)=(-1)^2+3(-1)=-2"/>
        </div>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>3.	Se cumple la igualdad <Latex formula="\\lim\\limits_{x\\to{x}_{0}}f(x)=f({x}_{0})" inline={true}/>.</p>
        </div>  
        <div class="my-5 text-center text-2xl">
          <Latex formula="\\lim\\limits_{x\\to{x}_{0}}f(x) = f({x}_{0})"/>
        </div>
        <div class="my-5 text-center text-2xl">
          <Latex formula="\\lim\\limits_{x\\to-1}(x^2+3x) = f(-1)"/>
        </div>
        <div class="my-5 text-center text-2xl">
          <Latex formula="-2=-2"/>
        </div>
        <p>Por lo que podemos concluir que la función es continua en <Latex formula="{x}_{0}=2" inline={true}/>.</p>
        <br><p><font color="#3f87ab" size="4"><b>B)</b></font> Verificar si la función <Latex formula="f(t)=\\frac{t-2}{t^2-4}" inline={true}/> es continua en <Latex formula="{t}_{0}=2" inline={true}/>.</p>
        <p>Comprobemos si se cumplen los tres puntos anteriores.</p>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>1.	El límite <Latex formula="\\lim\\limits_{t\\to{t}_{0}}f(t)" inline={true}/> existe.</p>
        </div>  
        <div class="my-5 text-center text-2xl">
          <Latex formula="\\lim\\limits_{t\\to2} f(t)=\\lim\\limits_{t\\to 2}\\frac{t-2}{t^2-4}=\\lim\\limits_{t\\to2}\\frac{t-2}{(t+2)(t-2)}=\\lim\\limits_{t\\to2}\\frac{1}{t+2}=\\frac{1}{4}"/>
        </div>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>Por lo que el límite existe.</p>
        </div>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>2.	La función está definida en <Latex formula="{t}_{0}=2" inline={true}/>.</p>
        </div>  
        <div class="my-5 text-center text-2xl">
          <Latex formula="f(2)=\\frac{2-2}{2^2-4}=\\frac{0}{0}"/>
        </div> 
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>Lo anterior es una <b>indeterminación</b>, por lo que la función no está definida en <Latex formula="{t}_{0}=2" inline={true}/>.</p>
          <br><p>Como no satisface el segundo punto, podemos decir que la función <b>no es continua en el valor <Latex formula="{t}_{0}=2" inline={true}/></b>.</p>
          <p>La gráfica de la función es la siguiente:</p>
          <div class="mx-auto lg:w-1/2">
            <img src="/calculo/continuidad-funciones/funcion.png" alt="Función." width="400" height="100"><br>
          </div>
          <p>Observemos dos cosas importantes:</p>
          <p>a)	La función <b>no está definida</b> en los valores en donde el denominador vale cero, esto es, en <Latex formula="{t}_{1}=-2" inline={true}/> y <Latex formula="{t}_{2}=2" inline={true}/>.</p>
          <p>b)	La gráfica tiene una asíntota vertical en <Latex formula="{t}_{1}=-2" inline={true}/> y un hueco <Latex formula="{t}_{2}=2" inline={true}/>.</p>
        </div>
        <br><p>A la discontinuidad de la función anterior se le conoce como discontinuidad removible. Esto porque, si le asignamos un valor particular a la función en <Latex formula="{t}_{2}=2" inline={true}/>, la función se vuelve continua solamente para ese valor particular.</p>
        <p>Si definimos a una nueva función <Latex formula="g(t)" inline={true}/>  de la siguiente manera:</p>
        <div class="my-5 text-center text-2xl">
          <Latex formula="g(t)=\\left\\begin{array}{lcc}\\frac{t-2}{t^2-4}\\&\\si\\&\\neq2\\frac{1}{4}\\&\\si\\&\\t=2 \\end{array} \\right"/>
        </div> 
        <p>Entonces la función es continua, como se pude comprobar a continuación:</p>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>1.	El límite <Latex formula="\\lim\\limits_{t\\to{t}_{0}}g(t)" inline={true}/> existe.</p>
        </div>  
        <div class="my-5 text-center text-2xl">
          <Latex formula="\\lim\\limits_{t\\to2} g(t)= \\lim\\limits_{t\\to2} \\frac{t-2}{t^2-4}=\\lim\\limits_{t\\to2} \\frac{t-2}{(t+2)(t-2)}= \\lim\\limits_{t\\to2} \\frac{1}{t+2}=\\frac{1}{4}"/>
        </div>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>Por lo que el límite existe.</p>
        </div>  
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>2.	La función está definida en <Latex formula="{t}_{0}=2" inline={true}/>.</p>
        </div>  
        <div class="my-5 text-center text-2xl">
          <Latex formula="g(2)=\\frac{1}{4}"/>
        </div>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <p>3.	Se cumple la igualdad <Latex formula="\\lim\\limits_{t\\to{t}_{0}}g(t)=g({t}_{0})" inline={true}/>.</p>
        </div>  
        <div class="my-5 text-center text-2xl">
          <Latex formula="\\lim\\limits_{t\\to{t}_{0}} g(t)=g({t}_{0})"/>
        </div>
        <div class="my-5 text-center text-2xl">
          <Latex formula="\\lim\\limits_{t\\to2}\\frac{t-2}{t^2-4}=g(2)"/>
        </div>
        <div class="my-5 text-center text-2xl">
          <Latex formula="\\frac{1}{4}=\\frac{1}{4}"/>
        </div>
        <div class="mx-auto my-5 lg:max-w-screen-lg">
          <br><p>Y podemos concluir que esta función es continua en el punto <Latex formula="t=2" inline={true}/>. Su gráfica queda muy parecida a la anterior, pero sin el hueco.</p>
          <div class="mx-auto lg:w-1/2">
            <img src="/calculo/continuidad-funciones/funcion-2.png" alt="Función." width="400" height="100"><br>
          </div>
        </div>
      </div>
    </div>
</Layout>
