---
import Layout from '@/layouts/Layout.astro'
import Latex from '@/components/Latex.astro'
import ObjetoAprendizaje from '@/components/ObjetoAprendizaje.astro'
import ImagenFullCaption from '@/components/ImagenFullCaption.astro'
import GeogebraLink from '@/components/GeogebraLink.astro'
import BgFluido from '@/components/BgFluido.astro'
import { BASE_PATH } from '@/config'
---

<Layout>
	<ObjetoAprendizaje index={1} asignatura={'matematicas_3'} />
	<div class="objeto-aprendizaje mx-auto animate-fade">
		<div class="mx-auto max-w-screen-xl">
			<p>
				En triángulos que no son rectángulos no se cumple el Teorema de Pitágoras; sin embargo, sus
				lados y sus ángulos guardan otras relaciones conocidas como la Ley de senos y la Ley de
				cosenos.
			</p>
		</div>
		<BgFluido bg="bg-red">
			<div class="mx-auto text-center xl:max-w-screen-sm">
				<img src={`${BASE_PATH}/matematicas3/leyes-senos-cosenos/tlsyc.webp`} alt="" />
			</div>
		</BgFluido>

		<div class="items-top mx-auto my-5 grid max-w-screen-xl gap-6 xl:my-10 xl:grid-cols-3">
			<div class="text-center">
				<h4 class="">Ley de Senos:</h4>
				<Latex
					class="text-2xl"
					formula="\\frac{sen\\;\\alpha}{a}=\\frac{sen\\;\\beta}{b}=\\frac{sen\\;\\gamma}{c}"
				/>
			</div>
			<div class="text-center">
				<h4 class="">Ley de Cosenos:</h4>
				<Latex formula="c^2=a^2+b^2-2ab\\cos\\gamma " />
				<Latex formula="b^2=a^2+c^2-2ac\\cos\\beta " />
				<Latex formula="a^2=b^2+c^2-2bc\\cos\\alpha " />
			</div>
			<div class="self-center">
				<p class="text-center font-bold">
					Estas igualdades nos permiten conocer las longitudes de los lados de un triángulo y la
					amplitud de sus ángulos a partir de algunas conocidas.
				</p>
			</div>
		</div>
		<div class="mx-auto max-w-screen-xl">
			<h3>Ejemplo:</h3>
			<p>
				Si conocemos la longitud de dos lados de un triángulo y la amplitud del ángulo formado por
				estos, es posible hallar la longitud del tercer lado, utilizando la Ley de Cosenos.
			</p>
		</div>
		<BgFluido bg="bg-blue my-5">
			<div class="mx-auto text-center xl:max-w-screen-lg">
				<div class="grid items-center xl:grid-cols-3 xl:gap-5">
					<p class="font-extrabold text-darkblue xl:text-3xl">
						Consideremos el siguiente triángulo:
					</p>
					<img class="xl:col-span-2" src={`${BASE_PATH}/matematicas3/leyes-senos-cosenos/te1.webp`} alt="" />
				</div>
			</div>
		</BgFluido>
		<BgFluido bg="bg-lightblue my-5">
			<div class="mx-auto max-w-screen-lg">
				<div class="grid items-center xl:grid-cols-3 xl:gap-5">
					<div class="text-darkblue">
						<p>De acuerdo con la Ley de cosenos:</p>
						<div class="text-center">
						  <Latex formula="c^2=a^2+b^2-2ab\\cos\\gamma" />
  						<Latex formula="c^2=(5.66)^2+(4.47)^2-2(5.66)(4.47)\\cos(71.57^o) " />
  						<Latex formula="c^2=36.02 " />
						</div>
						<p>Entonces el valor del tercer lado es:</p>
						<Latex formula="c=6" class="text-center" />
					</div>
					<img class="xl:col-span-2" src={`${BASE_PATH}/matematicas3/leyes-senos-cosenos/te1-2.webp`} alt="" />
				</div>
			</div>
		</BgFluido>

		<div class="mx-auto max-w-screen-xl">
			<p>
				Ahora, aplicando la ley de senos, podemos encontrar el valor del ángulo
				<Latex formula="\alpha" inline={true} />
			</p>
			<div class="text-center">
				<p>Por un lado:</p>
				<Latex class="xl:text-xl" formula="\\frac{sen\\alpha}{a}=\\frac{sen\\gamma}{c}" />
				<p>Lo que implica que:</p>
				<p><Latex class="xl:text-xl" formula="sen\\;\\alpha=\\frac{a sen\\gamma}{c} " /></p>
				<p>Y por lo tanto:</p>
				<Latex
					class="xl:text-xl"
					formula="\\alpha=sen^{-1}\\left(\\frac{a sen\\gamma}{c}\\right) "
				/>
				<p>Entonces:</p>
				<Latex
					class="xl:text-xl"
					formula="\\alpha=sen^{-1}\\left(\\frac{(5.66) sen(71.57°)}{6}\\right) "
					inline={true}
				/>
				<Latex class="xl:text-xl" formula="\alpha=63.5^o " />
			</div>
			<p class="my-5">
				Finalmente podemos encontrar el valor del ángulo <Latex
					class="xl:text-xl"
					formula="\\beta"
					inline={true}
				/> usando el hecho de que la suma de los ángulos interiores de un triángulo es igual a 180°,
				es decir:
			</p>
			<div class="text-center">
				<Latex class="xl:text-xl" formula="63.5^o+\\beta+71.57^o=180^o, " />
				<p>Luego:</p>
				<Latex class="xl:text-xl" formula="\\beta=180^o-63.5^o-71.57^o=44.93^o. " />
			</div>
		</div>
		<BgFluido bg="bg-red my-5">
			<div class="mx-auto text-center xl:max-w-screen-sm">
				<img src={`${BASE_PATH}/matematicas3/leyes-senos-cosenos/te1-3.webp`} alt="" />
			</div>
		</BgFluido>
		<div class="mx-auto max-w-screen-xl">
			<h3>Ejemplo:</h3>
		</div>
		<BgFluido bg="bg-blue my-5">
			<div class="mx-auto xl:max-w-screen-xl">
				<div class="grid items-center gap-5 xl:grid-cols-3">
					<div class="xl:col-span-2">
						<p>Supongamos que tenemos un triángulo del cual conocemos la longitud de sus lados:</p>
					</div>
					<img src={`${BASE_PATH}/matematicas3/leyes-senos-cosenos/te2-1.webp`} alt="" />
				</div>
				<div class="mt-5 grid items-center gap-5 xl:grid-cols-3">
					<div class="xl:col-span-2">
						<p>
							Podemos encontrar el valor de uno de sus ángulos realizando un despeje en la ley de
							cosenos.
						</p>
						<p>
							Consideremos, por ejemplo <Latex formula="a^2=b^2+c^2-2bc \\cos\\alpha" inline={true} /> y
							despejemos
							<Latex formula="\\alpha" inline={true} /> de la siguiente manera.
						</p>
						<p>
							Primero sumando <Latex formula="2bc\\cos\\alpha-a^2 " inline={true} /> de ambos lados, obtenemos:
						</p>
						<Latex class="my-5 text-center xl:text-xl" formula="2bc\\cos\\alpha=b^2+c^2-a^2 " />
						<p>
							Luego, suponiendo que <Latex formula="bc\\neq 0 " inline={true} /> y dividiento por <Latex
								formula="2bc"
								inline={true}
							/> tenemos:
						</p>
						<Latex
							formula="\\cos\\alpha=\\frac{b^2+c^2-a^2}{2bc} "
							class="my-5 text-center xl:text-xl"
						/>
						<p>Finalmente:</p>

						<Latex
							formula="\\alpha=cos^{-1}\\left(\\frac{b^2+c^2-a^2}{2bc}\\right) "
							class="my-5 text-center xl:text-xl"
						/>

						<p>
							En nuestro caso <Latex formula="a=6 " inline={true} />, <Latex
								formula="b=7 "
								inline={true}
							/>y <Latex formula="c=5 " inline={true} />;entonces, sustituyendo en la fórmula
							anterior
						</p>

						<Latex
							formula="\\alpha=cos^{-1}\\left(\\frac{7^2+5^2-6^2}{2(7)(5)}\\right)=57.12^o "
							class="my-5 text-center xl:text-xl"
						/>
					</div>
					<img src={`${BASE_PATH}/matematicas3/leyes-senos-cosenos/te2-2.webp`} alt="" />
				</div>
        <div class="mt-5 grid items-center gap-5 xl:grid-cols-3">
					<div class="xl:col-span-2">
            <p>
              Ahora, podemos utilizar la ley de senos como en el ejemplo anterior, para encontrar el valor
              de <Latex formula="\\beta " inline={true} /> y después deducir el valor de <Latex
                formula="\\gamma"
                inline={true}
              /> , o podemos despejar <Latex formula="\\beta " inline={true} /> de la ecuación <Latex
                formula="b^2=a^2+c^2-2ac\\cos\\beta "
                inline={true}
              />, obteniendo:
            </p>
            <div class="text-center xl:text-xl mt-5 gap-5 grid">
              <Latex formula="\\beta=cos^{-1}\\left(\\frac{a^2+c^2-a^2}{2ac}\\right)" />
              <Latex
                formula="\\beta=cos^{-1}\\left(\\frac{6^2+5^2-7^2}{2(6)(5)}\\right)"

              />
              <Latex formula="\\beta=78.46^o" />
            </div>
          </div>
          <img src={`${BASE_PATH}/matematicas3/leyes-senos-cosenos/te2-3.webp`} alt="" />
        </div>
        <div class="mt-5 grid items-center gap-5 xl:grid-cols-3">
          <div class="xl:col-span-2">
            <p>
              Finalmente<Latex formula="57.12^o+78.46^o+\\gamma=180^o" inline={true} />, de donde <Latex
                formula="\\gamma=180^o-57.12^o-78.46^o=44.42^o"
                inline={true}
              />
            </p>
          </div>
          <img src={`${BASE_PATH}/matematicas3/leyes-senos-cosenos/te2-4.webp`} alt="" />
        </div>
			</div>
		</BgFluido>

		<div class="mx-auto max-w-screen-xl">
			<p class="text-2xl">A continuación,se muestra dos applets con los que puedes practicar:</p>

        <GeogebraLink
          href="https://www.geogebra.org/m/e4y4babj"
          titulo="Ley de Cosenos"
          texto="¡Mejora y refuerza el conocimiento obtenido!"
        />
        <GeogebraLink
          href="https://www.geogebra.org/m/yvjgj8tv"
          titulo="Ejercicios de aplicación"
          texto="¡Mejora y refuerza el conocimiento obtenido!"
        />

		</div>
	</div>
</Layout>
